<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listings</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <!-- DataTables CSS -->
    <link
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/listings.css" />
    <!-- jQuery (necessary for DataTables and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
    ></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Airbnb-Clone</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/listings">Special Listings</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/allListings">All Listings</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="p-5 mt-4">
      <!-- Main content goes here -->
      {{{body}}}
    </div>

  </body>

  <script>
    $(document).ready(function() { $('.select2').select2(); });
  </script>
</html>